* {
  box-sizing: border-box;
}

nav {
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.05);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 80px;
}

nav img {
  display: block;
  height: 40px;
  width: 40px;
}

.button-nav {
  background-color: transparent;
  border-color: transparent;
}

#closex {
  cursor: pointer;
}

#elephant {
  height: 70px;
  margin: 5px auto;
  width: 70px;
}

li {
  list-style-type: none;
  padding-bottom: 20px;
}

ul {
  margin-top: 250px;
  padding: 0px 20px;
}

.blue-border {
  border-left: 2px solid #1CA3BA;
}

body {
  background-color: #F5F5F5;
  color: #363636;
  font-family: Biryani;
  font-weight: bold;
  margin-left: 80px;
  padding: 20px 40px;
}

h1 {
  margin-top: 0px;
}

.welcome {
  background: Linear-gradient(to right, #8ED1DC, #E3F4F6);
  height: 80px;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  width: 600px;
}

.welcome img {
  height: 10px;
  left: 560px;
  position: absolute;
  top: 20px;
  width: 10px;
}

.welcome p {
  margin: auto;
}

.welcome,
.card,
section.account-cards,
aside {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.05);
}

.blue-button {
  background-color: #1CA3BA;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: bold;
  height: 30px;
  margin-top: 25px;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 150px;
}

.log-expense-button {
  background-color: #1CA3BA;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-weight: bold;
  height: 30px;
  margin-top: 25px;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 150px;
}

.table-button {
  margin-right: 20px;
}

.card {
  background-color: #FFFFFF;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 27px;
  margin-top: 0px;
  padding-left: 10px;
  text-transform: uppercase;
  width: 180px;
}

.account-cards img {
  height: 30px;
  width: 30px;
}

section.accounts-header {
  height: 60px;
  margin-bottom: 15px;
  position: relative;
  width: 600px;
}

section.account-cards {
  background-color: #FFFFFF;
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
  width: 600px;
}

p.account-name {
  left: 130px;
  position: absolute;
  top: 0px;
}

p.account-type {
  left: 450px;
  position: absolute;
  top: 0px;
}

section.recent-transactions-header {
  height: 60px;
  margin-bottom: 15px;
  position: relative;
  width: 600px;
}

td {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px;
}

th {
  border-bottom: 1px solid #CCCCCC;
  padding: 7px;
  text-align: left;
}

aside {
  background-color: #FFFFFF;
  position: absolute;
  right: 80px;
  top: 105px;
}

table {
  border-collapse: collapse;
  width: 600px;
}

.new-transaction {
  display: none;
}

.display-transaction {
  color: red;
}

.hide {
  display: none;
}

.transaction-table {
  background-color: #FFFFFF;
  border: solid 1px black;
  display: inline-block;
  float: left;
  width: 600px;
}

.new-transaction-form {
  background-color: #FFFFFF;
  border: solid 1px black;
  float: right;
  height: 730px;
  margin-right: 40px;
  padding-bottom: 30px;
  padding-left: 50px;
  width: 515px;
}

select {
  background-color: #F5F5F5;
  height: 30px;
  margin-bottom: 20px;
  width: 400px;
}

input {
  border-radius: 3px;
  height: 30px;
  margin-bottom: 20px;
  width: 400px;
}

h2 {
  display: inline-block;
}

.form-box-labels {
  margin: 0px;
}

.white-button {
  background-color: #FFFFFF;
  border-color: #1CA3BA;
  border-radius: 10px;
  color: #1CA3BA;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 100px;
}

.white-button-clicked {
  background-color: #1CA3BA;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 100px;
}

.form-title {
  display: block;
  text-align: center;
}

.transactions-header {
  margin-right: 140px;
}
